* {
    box-sizing: border-box;
    font-family: sans-serif;
}


/* Making text unselectable in elements */
button,
.game,
.score,
.reset,
.clear {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}


/* Styling body */
body {
    margin: 0;
    background: #14BDAC;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    transform: translate(-1%, -1%);
    transition: all .3s ease;
}


/* Heading for the game */
body h1 {
    color: #0DA192;
    font-size: 52px;
    position: absolute;
    top: 65px;
}


/* Game box */
body .game {
    width: 250px;
    height: 75px;
    border: 5px solid #0DA192;
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s ease;
    margin-bottom: 200px;
}

.game.play {
    width: 350px;
    height: 350px;
    border: none;
    transition: .3s;
}

/* Play button */
.game .start {
    width: 240px;
    height: 75px;
    font-size: 32px;
    color: #0DA192;
    font-weight: 600;
    transition: .4s;
    text-align: center;
    padding: 15px 0;
    display: inline-block;
}

.game .start:hover {
    color: rgba(0, 0, 0, .5);
}

/* Styling the tic tac toe grid */
.game .box {
    display: none;
    background: #0DA192;
    border-radius: 25px;
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
    gap: 5px;
    overflow: hidden;
    transition: all .4s ease;
    margin-top: 25px;
}


/* Divide Game box into cells using stripes */
body .game .shell {
    width: 115px;
    height: 115px;
    background: #14BDAC;
    color: wheat;
    position: relative;
    font-size: 64px;
    padding: 20px 35px;
}


/* Score Board */
.score {
    width: 450px;
    height: 150px;
    background: #0DA192;
    display: flex;
    margin-top: 25px;
    justify-content: space-around;
    border-radius: 25px;
    position: absolute;
    bottom: 200px;
}

.score .col {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #14BDAC;
    margin-top: 15px;
    font-size: 28px;
}

.score .p1 {
    color: rgba(255, 255, 255, 1);
}

.score .p2 {
    color: #14BDAC;
}

.score .points {
    font-size: 32px;
    text-align: center;
}

.game .box h2 {
    font-size: 18px;
    position: absolute;
    inset: 25px;
}


/* Winner or Loser */
.decision {
    color: #545454;
    font-size: 42px;
    position: absolute;
    bottom: 100px;
}


/* Reset button to reset the game */
.reset {
    width: 200px;
    height: 60px;
    position: absolute;
    border: 5px solid #0DA192;
    border-radius: 10px;
    background: #14BDAC;
    color: #0DA192;
    font-size: 24px;
    font-weight: 600;
    transition: .3s;
    cursor: default;
    text-align: center;
    padding: 10px 0;
}

.reset {
    inset: 100px 1250px;
}

.reset:hover {
    color:rgba(0, 0, 0, .5);
}

/* Difficulty selector for the user */
#difficulty {
    width: 200px;
    height: 60px;
    position: absolute;
    inset: 100px 450px;
    transition: .6s;
    background: #0DA192;
    border: 0;
    text-align: center;
    color: #14BDAC;
    font-size: 24px;
    border-radius: 10px;
}

#difficulty option {
    font-size: 20px;
    text-align: center;
    background: #0DA192;
}

#difficulty option:hover {
    color: #14BDAC;
    background: #0DA192;
    color: pink;
}

/* Block player input when it's bots turn */
.wait {
    width: 350px;
    height: 425px;
    position: absolute;
    top: 200px;
    display: none;
}

/* Wall to block player input after game over */
.wall {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
}