* {
    box-sizing: border-box;
    font-family: sans-serif;
}


/* Making text unselectable in elements */
button,
.game,
.score,
.reset,
.clear {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}


/* Styling body */
body {
    margin: 0;
    background: #14BDAC;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    transform: translate(-1%, -1%);
    transition: all .3s ease;
}


/* Heading for the game */
body h1 {
    color: #0DA192;
}


/* Game box */
body .game {
    width: 125px;
    height: 40px;
    border: 5px solid #0DA192;
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s ease;
}

.game.play {
    width: 350px;
    height: 350px;
    border: none;
    transition: .3s;
}


/* Styling the tic tac toe grid */
.game .box {
    display: none;
    background: #0DA192;
    border-radius: 25px;
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
    gap: 5px;
    overflow: hidden;
    transition: all .4s ease;
    margin-top: 10px;
}


/* Play button */
.game .start {
    font-size: 24px;
    color: #0DA192;
    font-weight: 600;
    margin: 0 25px;
    transition: .4s;
}

.game .start:hover {
    color: rgba(0, 0, 0, .5);
}


/* Divide Game box into cells using stripes */
body .game .shell {
    width: 115px;
    height: 115px;
    background: #14BDAC;
    color: wheat;
    position: relative;
    font-size: 64px;
    padding: 20px 35px;
}


/* Score Board */
.score {
    width: 250px;
    height: 100px;
    background: #0DA192;
    display: flex;
    margin-top: 25px;
    justify-content: space-around;
    border-radius: 25px;
}

.score .col {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #14BDAC;
}

.score .p1 {
    color: rgba(255, 255, 255, .9);
}

.score .player {
    font-size: 28px;
}

.score .points {
    font-size: 24px;
    text-align: center;
}

.game .box h2 {
    font-size: 18px;
    position: absolute;
    inset: 25px;
}


/* Winner or Loser */
.decision {
    color: #0DA192;
    color: rgba(255, 255, 255, .666);
    font-size: 64px;
    margin-top: 25px;
    margin-bottom: -25px;
}


/* Reset button to reset the game */
.reset, .clear {
    width: 150px;
    height: 50px;
    position: absolute;
    border: 5px solid #0DA192;
    border-radius: 10px;
    background: #14BDAC;
    color: #0DA192;
    font-size: 24px;
    font-weight: 600;
    transition: .3s;
    cursor: default;
    text-align: center;
    padding: 5px 0;
}

.reset {
    inset: 100px;
}

.reset:hover {
    color:rgba(0, 0, 0, .5);
}


/* Clear button to clear the tic tac toe grid */
.clear {
    top: 100px;
    right: 100px;
}

.clear:hover {
    color: rgba(0, 0, 0, .5);
}